#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  /* background-color: aqua; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid green; */
}


/* Start Page */
.title {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}
.start_page {
  padding: 40px;
}

.start_page h1,
.start_page p,
.start_page button {
  margin-bottom: 30px; 
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  letter-spacing: 0.1rem;
}

/* CSS Start Btn*/
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

/* Queestions Section */
.question_container {
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 500px;
  padding: 30px;
}

.question_answers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.question_answers .answer {
  margin-bottom: 10px; 
}

/* This is not working yet. I want to add some space between the radio btn and the text */
.answer {
  margin-bottom: 10px; 
  display: flex; 
  align-items: center; 
  padding-left: 10px;
}

.btn {
  height: 40px;
  padding: 10px;
  margin-right: 20px;
}


/* Results page */

.your_score {
  margin: 20px 0 20px 0;
}
.results_title {
  margin-bottom: 20px;
}

.results li {
  margin-bottom: 15px; 
  font-size: 15px;
}